			li{
				list-style-type: none;
				line-height: 150%;
			}
			.p6{
				font-size: 20px;
				line-height: 200%;
				color: #fbfad3;
				height: 40px;
				width: 300px;
				background: #36622b;
				background-size: 63px 100px;
				background-repeat: no-repeat;
			}
			ul{
				margin: 10px;
				padding: 0px;
			}
			.p8{
				position: absolute;
				left: 123px;
				top: 18px;
			}
			.p7{
				font-size: 16px;
				line-height: 180%;
				background:white;
				background-size: 63px 100px;
				background-repeat: no-repeat;
				height: 70px;
				width: 263px;
			}
			div{
				position: absolute;
				left: 40px;
				top: 50px;
			}